# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map


/node_modules
/dist/**/*.js
/dist/**/*.js.map
/dist/**/*.css
/Samples/**/*.js
/Samples/**/*.js.map
/scripts/**/*.js
/scripts/**/*.d.ts
/scripts/**/*.js.map
/src/**/*.js
/src/**/*.js.map
/src/**/*.css

#System Files
.DS_Store
Thumbs.db

gemini-report/
.npmrc.clarity
npm-debug.log

.sass-cache/
_site/
js/
.vscode
!/src/system-config.js
/jspm_packages/
