/* -- FlexGrid -- */

.ar-flexgrid {
  width: 100%;
  overflow: hidden;
  .ar-cell {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    outline: none;
  }
  .ar-header.ar-state-multi-selected {
    /* Selected headers */
    background-color: #e4e4e4;
    color: #444;
    font-weight: bold;
  }
  .ar-colheaders .ar-header.ar-state-multi-selected {
    /* Selected column headers */
    border-bottom: 2px solid #0085c7;
  }
  .ar-rowheaders .ar-header.ar-state-multi-selected {
    /* Selected row headers */
    border-right: 2px solid #0085c7;
  }
  .ar-state-sticky .ar-header {
    /* Sticky headers */
    opacity: 0.75;
  }
  .ar-marquee {
    /* Selection Marquee */
    position: absolute;
    box-sizing: border-box;
    border: 2px solid #0085c7;
  }
  .ar-cell.ar-wrap {
    /* Cells with word-wrapping */
    white-space: normal;
    text-overflow: clip;
  }
  .ar-cell:not(.ar-header):not(.ar-group):not(.ar-alt):not(.ar-state-selected):not(.ar-state-multi-selected) {
    /* Default grid cell color */
    background: #fff;
  }
  .ar-alt:not(.ar-header):not(.ar-group):not(.ar-state-selected):not(.ar-state-multi-selected) {
    /* Alternate grid cell color */
    background: #f9f9f9;
  }
  .ar-group:not(.ar-state-selected):not(.ar-state-multi-selected) {
    /* Group row background */
    background-color: #dddddd;
  }
  .ar-frozen-row {
    /* Frozen area boundary */
    border-bottom: 1px solid #666;
  }
  .ar-frozen-col {
    /* Frozen area boundary */
    border-right: 1px solid #666;
  }
  .ar-grid-editor {
    /* Grid editor */
    box-sizing: border-box;
    padding: 3px;
    border: none;
    width: 100%;
    margin: 0px;
  }
  .ar-marker {
    /* Grid drag/resize row/col marker */
    position: absolute;
    background-color: #0085c7;
    opacity: 0.5;
    pointer-events: none;
  }
}

.ar-flexgrid {
  .ar-cell.ar-state-selected, .ar-cell.ar-state-multi-selected {
    .ar-control {
      /* Text color for nested controls in selected rows */
      color: #444;
    }
  }
}

