/* FlexGrid Filter extension */

.wj-filter-on .wj-glyph-filter {
  opacity: 0.85;
}

.wj-filter-off .wj-glyph-filter {
  opacity: 0.25;
}

.wj-columnfiltereditor {
  padding: 10px;
  min-width: 230px;
  max-width: 50%;
  .wj-control {
    margin-bottom: 6px;
    width: 100%;
  }
  .wj-listbox .wj-listbox-item label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
