<!DOCTYPE html>
<html lang="en" >
<head >
    <meta charset="UTF-8" >
    <title >AutoComplete</title >

    <script src="../../../node_modules/reflect-metadata/Reflect.js" ></script >
    <script src="../../../node_modules/zone.js/dist/zone.js" ></script >
    <script src="../../../node_modules/systemjs/dist/system-polyfills.js" ></script >
    <script src="../../../node_modules/systemjs/dist/system.js" ></script >
    <script src="../../../System.config.js" ></script >

    <link href="../../../styles/wijmo.css" rel="stylesheet" />
</head >
<body >


<app></app>

<script >
    System.import('./test/run');
</script >
</body >
</html >